<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Gift Certificates</h1>
<div style="display: flex; justify-content: space-between">
    <a href="/giftCertificates">All certificates</a>
    <a href="/giftCertificates/new">Create new Certificate</a>
    <a href="/tags/">All tags</a>
    <a href="/tags/new">Create new tag</a>
</div>
<hr>
    <div th:each="certificate: ${gift_certificates}">
        <span style="color:blue;">id: </span><span th:text="${certificate.id}"/>
        <span style="color:blue;">name: </span> <span th:text="${certificate.name}"/>
        <span style="color:blue;">description: </span> <span th:text="${certificate.description}"/>
        <span style="color:blue;">price: </span> <span  th:text="${certificate.price}"/>
        <span style="color:blue;">duration: </span> <span th:text="${certificate.duration}"/>
        <span style="color:blue;">create date: </span> <spanp th:text="${certificate.createDate}" />
        <span style="color:blue;">last update date: </span> <span th:text="${certificate.lastUpdateDate}"/>
        <a th:href="@{/giftCertificates/{id}(id=${certificate.id})}">Select</a>
    </div>

</body>
</html>