<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Gift Certificates</h1>
<div style="display: flex; justify-content: space-between">
    <a href="/giftCertificates">All certificates</a>
    <a href="/giftCertificates/new">Create new Certificate</a>
    <a href="/tags/">All tags</a>
    <a href="/tags/new">Create new tag</a>
</div>
<hr>
<div th:each="tag: ${tags}">
    <span style="color:blue;">id: </span><span th:text="${tag.id}"/>
    <span style="color:blue;">name: </span> <span th:text="${tag.name}"/>
    <a th:href="@{/tags/{id}(id=${tag.id})}">Select</a>
</div>

</body>
</html>